
html,body {
  height: 100%;
  margin: 0;
  
}
body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  overflow: auto;
}

*,*::after, *::before {
  box-sizing: border-box;
}


.table-header {
  display: flex;

}

.header-buttons {
  margin-left: 5rem;
}

table.pdf-list {
  border-collapse: collapse;
  margin: 0.5rem 0;
}
table.pdf-list,
table.pdf-list td,
table.pdf-list th {
  border: 1px solid black;
}
table.pdf-list td,
table.pdf-list th {
  padding: 0.2rem 0.5rem;
}

.iframe-container {
  border: 1px solid #ccc;
  padding: 0.5rem;
  width: fit-content;
}

section.hidden {
  display: none;
}

#pdf-widgets {
  left: 0;
  top: 0;
  position: absolute;
}

/* svg {
      border: 1px solid #333;
      background: #f9f9f9;
      width: 800px;
      height: 500px;
      cursor: crosshair;
    } */
.shape {
  fill: transparent;
  stroke: black;
  stroke-width: 2;
}
.arrow {
  stroke: red;
  stroke-width: 2;
  marker-end: url(#arrowhead);
}
.selected {
  outline: 2px dashed red;
  outline-offset: 3px;
  /* stroke: blue !important; */

  /* stroke-dasharray: 5; */
}

iframe {
  /* border: 1px solid #ccc; */
  outline: 1px solid #ccc;
  border: none;
}

svg > *:hover {
  cursor: move;
}


.loading {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10000;
  display: none;
  inset: 0;

  justify-content: center;
  align-items: center;
}

.loading.visible {
  display: flex;
}